/* ***************** */
/*  CUSTOM CSS HERE  */
/* ***************** */
div#logoBanner div#logo {
    background-size: 134px 40px;
    background-image: url(../img/logo_istat.png) !important;
    height: 80px;
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 150px;
}

@media ( -webkit-min-device-pixel-ratio: 2) , ( min-resolution: 192dpi) {
    div#logoBanner div#logo {
        background-image: url(../img/logo_istat@2x.png) !important;
    }
}

body {
    background-color: #00264d !important;
    font-family: Titillium Web,Geneva,Tahoma,sans-serif;
}

div#inverses {
    background: #cce6ff !important;
}


/* ********************************** */
/*  CUSTOM FOOTER, HIDDEN BY DEFAULT  */
/* ********************************** */
#customFooter {
    display: none;
}

.container-fluid {
     margin: 0 auto;
}

.normal-breack-text {
    word-break: break-all;
}

.header-h {
    min-height: 104px;
}

#abstract {
    background: #0059b3;
    color: white;
    padding: 30px;
}

.it-header-slim-wrapper {
    height: auto !important;
}
.it-header-slim-wrapper-content {
    padding: 0.3em;
}

hgroup  {
    padding: 0;
}

hgroup h1 {
    padding: 30px;
    font-weight: bold;
    line-height: 1em;
    font-size: 48px;
}

.h2-24 {
    font-size: 24px;
    font-weight: normal;
}

.pad-30 {
    padding-left: 30px;
    padding-right: 30px;
}

hgroup h2 {
    margin-bottom: auto;
}

#abstract label a {
    color: white !important;
}

#linkGit {
    margin-top: 60px !important;
}

#footer {
    background-color: white;
}

.footerLinks {
    height: 62px;
    margin: 50px 0 0;
    background-color: #01254c;
}

.bottomLabel {
    color: #0bd9d2;
    font-size: 15px;
    padding-right: 15px;
}

.bottomFooter {
    color: white !important;
    font-size: 15px;
    padding-right: 15px;
}
.bottomFooter:hover {
    color: #0bd9d2 !important;
}
